.goodnesseccont img{
    width:100%
}
/*
.buttermilk{
    background-color: #fff;background-image: linear-gradient(#fff7ef, #fff);
    background-image: -webkit-linear-gradient(#fff7ef, #fff);
    background-image: -moz-linear-gradient(#fff7ef, #fff);
    background-image: -ms-linear-gradient(#fff7ef, #fff);
    background-image: -o-linear-gradient(#fff7ef, #fff);
    padding: 50px 40px;
    border:1px
} 

*/