.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}  /* Adjust the width and center the search bar */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

/* Make the input field wider and taller */
.search-form input[type="text"] {
  width: 1000px !important;
  height: 80px !important;
  font-size: 24px !important;
}

.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}
/* Initially hide blocks with a counter greater than 4 */
.form-check.d-none {
    display: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* spacing between cells */
}

.grid-item {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}