{% extends 'base.html'%}
{%block bootstrap%}

{%endblock%}
{%block main-content%}
{%for object in objects%}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{object.user_email}}</h5>
      <p class="card-text">Before losing object: <time>{{ object.time_initial|time:'H:i' }}</time></p>
      <p class="card-text">After losing object: <time>{{ object.time_final|time:'H:i' }}</time></p>
      <p class="card-text">{{object.description}}</p>      
      {%if length == 1 %}
      <a href="{%url 'claim_complaint_script' id=object.object_related.id user_email=object.user_email parametro=1%} " class="btn btn-primary">Accept</a>
      {%endif%}
      <a href="{%url 'claim_complaint_script' id=object.object_related.id user_email=object.user_email parametro=0%} " class="btn btn-primary">Reject</a>
    </div>
  </div>
{%endfor%}
{%endblock%}